<div class="min-h-screen dark:bg-green-800">
    <div class="bg-white dark:bg-green-900 shadow">
        <div class="container mx-auto px-6 py-4">
            <div class="flex justify-between items-center">
                <div class="text-$xl font-semibold text-gray-700 dark:text-white">Angular NgRx</div>
                <button routerLink="/cart" class="text-gray-600 dark:text-gray-300 hover:underline">Cart <span>{{ (products | async)?.length }}</span></button>
            </div>
        </div>
    </div>
    <app-ng-rx-example></app-ng-rx-example>
</div>